section {
    height: auto;
    width: 100%;
    margin-bottom: 100px;
    background-color: #f8f8f8;
    padding: 50px 0;
    
}



.tContainer {
    
    margin: 0 auto;
}

.banner {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin:0 10px 30px 10px;
}



.banner h2 {
    font-size: 32px;
    
}





.banner button {
    background-color: #ffd700;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    margin-right: 5px;
}

button:hover {
    background-color: #e5bb00;
    
}

.allItems {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    width: 100%;
    max-width: 260px;
    height: 260px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
    margin: 10px;
}

.item:hover {
    transform: translateY(-5px);
}

.item img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-bottom: 2px solid #ffd700;
}

.item > a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #333;
}



.name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}



@media(max-width:1060px){

    section {
        height: auto;
    }


    .allItems {
        
        height: auto; 
        display: flex;
        justify-content: center;
        align-items: center;

    }

    

}



@media(max-width:560px){
    .allItems .item {
        max-width: none;
        width: 90%;
        height: 400px;

    }

    .allItems {
        flex-direction: column;
    }

}