.form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    max-width: 500px;
    margin-top: 140px;
    margin-bottom: 200px;
    background-color: black;
    background: url("./images/ressources/6943174.jpg");
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    left: 50%;
    transform: translateX(-50%);

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container>div {
    width: 100%;
    margin: 10px 0;

}





.container label,
.container h3 {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

.container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container input:focus {
    outline: none;
    border-color: #ffd700;
}

.container button[type="submit"] {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    background-color: #ffd700;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 20px 0;

}

.container button[type="submit"]:hover {

    background-color: #e5bb00;
}

.container a {
    text-decoration: underline;
    color: #ffd700;
}

.container a:hover {
    text-decoration: underline;
}

.message {
    color: crimson;
    margin: 20px 0;

}