{% extends 'base.html' %}

{% block title %}
<title>Detail</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='detail.css')}}">
{% endblock %}

{% block content %}
{% if keyword == "acteur" %}
<div class="head">
    <div class="profile">
        {% if item[3] %}
        <img src="{{item[3]}}" alt="{{item[1]}}">
        {% else %}
        <img src="{{url_for('static', filename='images/ressources/notfound.jpg')}}">
        {% endif %}
        <div class="data">
            <h1>{{item[1]}}</h1>
            <div>
                <p>Langue(s) parlée(s)</p>
                <div class="language_container">
                    {% for language in languages %}
                    <img src="{{language[0]}}" alt="" class="flag">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% elif keyword == "FilmSerie" %}
<div class="head FS">
    <img src="{{item[10]}}" alt="" class="poster">
    <h1>{{item[1]}}</h1>
    <div class="profile">
        <div class="data_board" id="data_board">
            <div class="informations">
                <div>
                    <p>Date de sortie</p>
                    <div>{{date}}</div>
                </div>
                <div>
                    <p>Budget</p>
                    {% if item[2] %}
                    <div>{{item[2]}} M €</div>
                    {% else %}
                    <div>Non communiqué</div>
                    {% endif %}
                </div>
                <div>
                    <p>Recette</p>
                    {% if item[3] %}
                    <div>{{item[3]}} M €</div>
                    {% else %}
                    <div>Non communiqué</div>
                    {% endif %}
                </div>
            </div>
            <div class="single-chart">
                <p>Note des utilisateurs</p>
                <svg viewBox="0 0 36 36" class="circular-chart blue">
                    <path class="circle-bg" d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831" />
                    <path class="circle" stroke-dasharray="{{percentage}}, 100" d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831" />
                    <text x="18" y="20.35" class="percentage">{{percentage}}%</text>
                </svg>
            </div>

            <div class="box_inform">
                <div class="genre_container">
                    <p>Genres</p>
                    {% for genre in genres %}
                    <span>{{genre[0]}}</span>
                    {% endfor %}
                </div>

                <div>
                    <p>Langue de tournage</p>
                    <div class="language_container">
                        {% for language in languages %}
                        <img src="{{language[0]}}" alt="" class="flag">
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<section>
    <div class="tContainer">
        <div class="banner">
            <div>
                {% if keyword == "acteur" %}
                <h2>A joué dans</h2>
                {% elif keyword == "FilmSerie" %}
                <h2>Acteurs</h2>
                {% endif %}
            </div>
        </div>
        <div class="allItems">

            {% for item in data %}

            <div class="item">
                <a href="{{url_for('page_detail', keyword=item[3], id=item[0])}}">
                    {%if item[2] %}
                    <img src="{{item[2]}}" alt="{{item[1]}}">
                    {% else %}
                    <img src="{{url_for('static', filename='images/ressources/notfound.jpg')}}">
                    {% endif %}
                    <div class="item-details">
                        <div class="name">{{item[1]}}</div>
                    </div>
                </a>
            </div>

            {% endfor %}
        </div>

</section>
{% if keyword == "acteur" %}
<div class="contact">
    <h2>Contacter l'acteur</h2>
    <form method="POST" action="{{url_for('page_contact', id=id)}}">
        <div>
            <textarea name="message" cols="30" rows="10"></textarea>
        </div>
        <button>Envoyer</button>
    </form>

</div>
{% endif %}



{% endblock %}