{% extends 'base.html' %}

{% block title %}
<title>Discover</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='discover.css')}}">
{% endblock %}

{% block content %}

<section>
    <div class="tContainer">
        <div class="banner">
            <div>
                <span>Genres</span>
                <h2>Connaissez-vous les genres où l'acteur préféré des utilisateurs a le plus joué ?</h2>
            </div>
        </div>
        <div class="allItems chart">
            <h3>{{trend_actor}}</h3>
            <img src="{{url_for('static', filename='charts/pie.png')}}" alt="" height="600" width="600">
        </div>
    </div>
</section>
<div class="separator"></div>
<section>
    <div class="tContainer">
        <div class="banner">
            <div>
                <span>Cocorico</span>
                <h2>Saviez-vous que des acteurs français jouent dans des comédies américaines ?</h2>
            </div>
        </div>
        <div class="allItems">
            {% for actor in french %}
            <div class="item">
                <a href="{{url_for('page_detail', keyword='acteur', id=actor[1])}}">
                    {%if actor[2]%}
                    <img src="{{actor[2]}}" alt="{{actor[1]}}">
                    {% else %}
                    <img src="{{url_for('static', filename='images/ressources/notfound.jpg')}}">
                    {% endif %}
                    <div class="item-details">
                        <div class="name">{{actor[0]}}</div>
                    </div>
                </a>
            </div>

            {% endfor %}
        </div>
    </div>
</section>
<div class="separator"></div>
<section>
    <div class="tContainer">
        <div class="banner">
            <div>
                <span>Rentabilité</span>
                <h2>Connaissez-vous la rentabilité par film de l'acteur ayant joué dans le plus de film sur notre plateforme ?</h2>
            </div>
        </div>
        <div class="allItems chart">
            <h3>{{actor_name}}</h3>
            <img src="{{url_for('static', filename='charts/bar.png')}}" alt="" height="600" width="600">
        </div>
    </div>
</section>
<div class="separator"></div>
<section>
    <div class="tContainer">
        <div class="banner">
            <div>
                <span>Bon à savoir</span>
                <h2>Savez-vous que le genre "Action" est de plus en plus apprécié par nos utilisateurs ?</h2>
            </div>
        </div>
        <div class="allItems chart">
            <h3>Popularité des films d'action</h3>
            <img src="{{url_for('static', filename='charts/line.png')}}" alt="" height="600" width="600">
        </div>
    </div>
</section>
<div class="separator"></div>
<section>
    <div class="tContainer">
        <div class="banner">
            <div>
                <span>Diversité</span>
                <h2>
                    Savez-vous dans quels studios peut-on constater la plus grande diversité linguistique d’acteur dans leur production cinématographique ?
                </h2>
            </div>
        </div>
        <div class="allItems chart">
            <img src="{{url_for('static', filename='charts/barh.png')}}" alt="" height="600" width="700" class="hbar">
        </div>
    </div>
</section>


{% endblock %}