{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block style %}
 <link rel="stylesheet" href="{{url_for('static', filename='home/home.css')}}">
{% endblock %}

{% block content %}
<section id="trends">
    <div class="tContainer">
        <div class="banner">
            <div>
                <span>Tendance</span>
                <h2>En tendance cette semaine</h2>
            </div>
            <a class="btn" href="{{url_for('get_all', keyword='trending_actors', page=1)}}">Tout voir</a>
        </div>
        <div class="allItems">
            {% for actor in trending_actors %}
            <div class="item">
                <img src="{{back_drop_path}}{{actor.profile_path}}" alt="{{actor.name}}">
                <div class="item-details">
                    <div class="name">{{actor.name}}</div>
                    <div class="contact">
                        Contacter
                        <img src="{{url_for('static', filename='images/ressources/chat-dots-fill.svg')}}" alt="ChatIcon">
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>



<section id="mostRated">
    <div class="tContainer">
        <div class="banner">
            <div>
                <span>Les mieux notés</span>
                <h2>Les spéctateurs les adorent</h2>
            </div>
            <a class="btn" href="{{url_for('get_all', keyword='famous_actors', page=1)}}">Tout voir</a>
        </div>
        <div class="allItems">
            {% for actor in famous_actors %}
            <div class="item">
                <img src="{{back_drop_path}}{{actor.profile_path}}" alt="{{actor.name}}">
                <div class="item-details">
                    <div class="name">{{actor.name}}</div>
                    <div class="contact">
                        Contacter
                        <img src="{{url_for('static', filename='images/ressources/chat-dots-fill.svg')}}" alt="ChatIcon">
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>


<section id="genres">
    <div class="tContainer">
        <div class="banner">
            <div>
                <span>Genres</span>
                <h2>Acteurs de vos films preférés</h2>
            </div>
            <a class="btn" href="{{url_for('get_all', keyword='trending_films', page=1)}}">Tout voir</a>
        </div>
        <div class="allItems">

            {% for film in trending_films %}
            <div class="item filmItem" style="background-image: url('{{back_drop_path}}{{film.poster_path}}');">
                
                <div class="item-details">
                    <div class="name">{{film.title}}</div>
                </div>
            </div>
            {% endfor %}
            

        </div>
    </div>
</section>


<section id="offers">
    <h2>Nos Offres</h2>
    <div class="offerContainer">
        <div class="offer" id="producerOffer">
            <h3>Producteurs</h3>
            <ul>
                <li>- Un accès complet à la plateforme pendant 3 mois</li>
                <li>- Trouver l'acteur parfait pour votre film</li>
                <li>- Faites votre choix parmis des milliers d'acteurs</li>
                <li>- Contact direct possible</li>
                <li>- Utiliser des filtres avancés</li>
                <li>- Profils diversifiés d'acteurs talentueux.</li>
                <li>- Interface conviviale pour gérer vos projets</li>
                <li>- Support client dédié pour répondre à vos besoins</li>
                <li>- Éviter les processus de casting traditionnels et gagnez du temps</li>
                <li>- Mises à jour régulières de la base de données avec de nouveaux talents</li>
                <li>- Une tarification simple, pas de frais cachés</li>

            </ul>
            <div class="price">999,99€</div>
            <button>RÉSERVER</button>

        </div>

        <div class="offer" id="actorOffer">
            <h3>Acteurs</h3>
            <ul>
                <li>- Un accès complet à la plateforme</li>
                <li>- Les producteurs vous retrouve plus facilement</li>
                <li>- Modifier votre profil</li>
                <li>- Résiliable à tout moment</li>
                <li>- 15 jours d'essai gratuit</li>
                <li>- Créer un portfolio dynamique avec des vidéos, des photos et des détails artistiques</li>
                <li>- Recever des notifications instantanées quand un producteur visite votre profil</li>
                <li>- Accéder à des statistiques détaillées sur la visibilité de votre profil</li>
                <li>- Bénéficier d'un accès exclusif aux dernières opportunités de casting avant qu'elles ne soient
                    publiques</li>


            </ul>
            <div class="price">29,99 € par mois</div>
            <button>SOUSCRIRE</button>
        </div>
    </div>

</section>


{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='home/home.js')}}"></script>
{% endblock %}