{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block style %}
 <link rel="stylesheet" href="{{url_for('static', filename='register.css')}}">
{% endblock %}

{% block content %}
<form method="POST" class="form" action="{{url_for('page_login')}}">
    
    <div class="container">
        {% if message %}
        <span class="message">{{message}}</span>
        {% endif %}
        <div>
            <label for="email">Adresse email</label>
            <input name="email" type="email" class="email" required >
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" name="password">
        </div>
        <button type="submit">Se Connecter</button>
        <a href="{{url_for('page_register')}}">Pas encore inscrit ?</a>
    </div>
</form>
{% endblock %}

