{% extends 'base.html' %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='register.css')}}">
{% endblock %}

{% block content %}

<form method="POST" class="container" action="{{url_for('page_register')}}">
    {% if message %}
    <h2>{{message}}</h2>
    {% endif %}
    <div class="container">
        <div>
            <label for="name">Nom</label>
            <input name="lastname" type="text" required>
        </div>
        <div>
            <label for="surname">Prénom</label>
            <input name="lastname" type="text" required>
        </div>
        <div>
            <label for="email">Adresse email</label>
            <input name="email" type="email" class="email" required>
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" name="password">
        </div>
        <hr>

        <div>
            <label for="password">Confirmer le mot de passe</label>
            <input type="password" name="password2">
        </div>
        <hr>
        <h3>Vous travaillez pour un studio ?</h3>
        <a href="#">Procédure d'inscription pour un studio</a>

        <button type="submit">S'inscrire</button>
        <a href="{{url_for('page_login')}}">Déjà inscrit ?</a>
    </div>
</form>




{% endblock %}