{% extends 'base.html' %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='register.css')}}">
{% endblock %}

{% block content %}

<form method="POST" class="form" action="{{url_for('page_register')}}">


    <div class="container">
        {% if message %}
        <span class="message">{{message}}</span>
        {% endif %}
        <div>
            <label for="name">Nom</label>
            <input name="lastname" type="text" required>
        </div>
        <div>
            <label for="surname">Prénom</label>
            <input name="firstname" type="text" required>
        </div>
        <div>
            <label for="email">Adresse email</label>
            <input name="email" type="email" class="email" required>
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" name="password">
        </div>
        <div>
            <label for="password">Confirmer le mot de passe</label>
            <input type="password" name="password2">
        </div>




        <div>
            <h3>Vous travaillez pour un studio ?</h3>
            <a href="#">Procédure d'inscription pour un studio</a>
        </div>



        <button type="submit">S'inscrire</button>
        <a href="{{url_for('page_login')}}">Déjà inscrit ?</a>
    </div>
</form>




{% endblock %}